body {
    background-image: url("/Images/Halo.jpg");
    background-size: cover;
}

#banner {
    
        max-width: auto;
        height: 80px;
        background-color: gray;
        font-stretch: expanded;
        border-radius: 25px;
        margin-bottom: 15px;
        
    }

    #UNSC {
        font-family: "Times New Roman", Times, serif;
        font-size: 70px ;
        text-align: center;
        
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        border-radius: 25px;
      
      }
      
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: blue;
        color: white;
      }

      #Insigne {
        content: url(/Images/Insignia.jpg);
        border-width: 5px;
        margin: auto;
        position: static;
        border-radius: 50px;
        padding: 25px;
        margin-bottom: 15px;
       }

       #Welcomemat {
         font-size: 30px;
         color:darkgrey;
          text-align: center;

       }